$bg-gradient: linear-gradient(to bottom, #5d53bc, #ffffff);
$bg-color: #5d53bc;
$font-color-primary: rgb(247, 250, 218);
$banner-color: rgb(218, 202, 250);
$font-border:  rgb(141, 168, 221);
$box-font-shadow: rgb(144, 98, 190);
$box-border: rgb(226, 226, 192);
$bg-color-box: #5d53bca9;
$input-font-color: rgb(250, 208, 215);